body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.ad-reas-grid .MuiDataGrid-footerContainer {
	height: 41px;
	min-height: 41px;
	max-height: 41px;
}

.ad-reas-grid .MuiTablePagination-root,
.ad-reas-grid .MuiTablePagination-selectLabel,
.ad-reas-grid .MuiTablePagination-displayedRows {
	font-size: 12px;
}

.ad-reas-grid-footer-hide .MuiDataGrid-footerContainer {
	display: none;
}

